@import url("http://fonts.cdnfonts.com/css/inter");
@import url("http://fonts.cdnfonts.com/css/product-sans");
@import url("http://fonts.cdnfonts.com/css/google-sans");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  width: 100%;
  font-family: "Product sans", sans-serif;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  /* border: 2px solid red; */
}

/* Home page */
.home {
  display: flex;
   min-height:90vh;
  /* border:1px solid red; */
}

/*Side bar desktop*/
.nav {
  display: flex;
  min-height:100vh;
  padding: 2rem;
  justify-content: center;
  /* border: 1px solid red; */
  background: #899bc5;
}

.nav-links {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.link {
  text-decoration: none;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #fff;
}

/* Sidebar mobile/tablet view */
.nav-mobile {
  display: flex;
  display:none;
  justify-content: space-around;
  gap: 3rem;
  padding: 1.5rem;
  /* border: 1px solid red; */
  background: #899bc5;
}

.nav-links-mobile {
  display: flex;
  gap: 4rem;
  margin: 0;
  font-size: 1.4rem;
}
.link-mobile {
  text-decoration: none;
  font-size: 1.5rem;
  color: #fff;
}

.info-home {
  width: 70%;
  margin: 100px auto;
  text-align: center;
  /* border:1px solid red; */
}

.info-home h3 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  color: #899bc5;
}

.info-home p {
  font-size: 1.3rem;
  width: 80%;
  margin: auto;
  margin-bottom: 1.3rem;
}

.home-img {
  display: flex;
  flex: 0 1 80%;
  margin: auto;
  max-width: 500px;
  /* border: 1px solid red; */
}

img {
  width: 100%;
}

/* About Page*/
.about {
  display: flex;
  /* border:1px solid red; */
  width: 100%;
  min-height: 100vh;
}

.about-content {
  display: flex;
  flex: 0 1 70%;
  gap: 48px;
  /* border: 1px solid black; */
  height: auto;
  max-width: 650px;
  margin: 100px auto;
  justify-content: center;
  max-width: 650px;
}

.about-info {
  width: 50%;
  flex-direction: column;
  /* border: 1px solid red; */
}

.about-info h2 {
  font-size: 3rem;
  color: #899bc5;
  margin-bottom: 1.5rem;
}

.about-info p {
  height: 40%;
  /* border: 1px solid red; */
  font-size: 1rem;
  color: #516081;
  text-align: justify;
}

.about-image {
  display: flex;
  flex: 0 1 50%;
  height: 50%;
}
img {
  width: 100%;
}

/* User page */
.User-Page {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  /* border: 1px solid red; */
}
.user-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 90%;
  /* border: 4px solid red; */
  margin: 50px auto;
}

.container h3 {
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 31.19px;
  line-height: 44px;
  color: #899bc5;
  /* border: 1px solid red; */
}

.card {
  background: #ffffff;
  box-shadow: 4px 4px 8px rgba(255, 255, 255, 0.25),
    4px 4px 16px rgba(137, 155, 197, 0.4);
  border-radius: 8px;
  text-align: center;
  color: #516081;
  text-align: center;
}

#username {
  font-weight: 400;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  color:#301F77;
}

#email {
  font-weight: 400;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;

}

#add {
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 0.5rem;

}

#num {
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.card-img {
  margin: 1rem;
}

.card-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top:1rem;
}

.loading {
  text-align: center;
  padding: 25%;
  margin: auto;
  font-size: 35px;
  font-weight: 600;
  font-family: "Product Sans";
}


/* Buttons */
button{
  padding: 0.7rem 4rem;
  border: none;
    color: #301F77;
  background: #FFFFFF;
  box-shadow: 4px 4px 8px rgba(255, 255, 255, 0.25), 4px 4px 16px rgba(137, 155, 197, 0.4);
  border-radius: 8px;
  margin-bottom: 5vh;
}

a{
  text-decoration: none;
}


@media (max-width: 750px) {
  .nav {
    display: none;
    width: 100%;
  }
  .nav-mobile {
    display: flex;
    width: 100%;
  }
  .left {
    width: 100%;
  }

  .about-content {
    flex-direction: column-reverse;
  }

  .about-info {
    width: 100%;
  }
}


@media (max-width: 650px) {
  .info-home h3 {
    /* border: 1px solid red; */
    font-size: 2.3rem !important;
  }

  .info-home p {
    font-size: 1.2rem;
  }

  .user-container{
    grid-template-columns: repeat(1 ,1fr);
  }
}


@media (max-width: 500px) {
  .info-home h3 {
    /* border: 1px solid red; */
    font-size: 2rem;
  }

  .nav-links-mobile {
    font-size: 1rem;
  }
  .info-home p {
    width: 90%;
    font-size: 1rem;
  }
}

/* Error Page */

.error-page {
  background: #899bc5;
  width: 100%;
  height: 782px;
}

.error-body {
  display: flex;
  padding: 10px;
  /* margin: 15%; */
}

.error-info {
  padding: 2%;
}

.error-info h1 {
  font-family: "Inter";
  font-weight: 500;
  font-size: 200px;
  line-height: 220px;
  color: #222222;
  text-align: center;
  margin-bottom: 5px;
}

.error-info h4 {
  font-family: "Inter";
  font-weight: 400;
  font-size: 35px;
  line-height: 34px;
  color: #222222;
  text-align: center;
}

.error-info p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.error-info button {
  font-family: "Inter";
  width: 200px;
  height: 52px;
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
  background: #222222;
  color: #ffffff;
  border-radius: 8px;
  text-align: center;
  margin-left: 300px;
  margin-top: 20px;
}

.error-image {
  padding-top: 9%;
}

.error-img {
  width: 500px;
  height: 500px;
}
