@import url("http://fonts.cdnfonts.com/css/inter");
@import url("http://fonts.cdnfonts.com/css/product-sans");
@import url('http://fonts.cdnfonts.com/css/google-sans');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  width: 100%;
}

/* Home page */
.home {
  display: flex;
  margin: auto;
  /* border:1px solid red; */
  width: 100%;
  height: 100vh;
}
.nav {
  display: flex;
  background: #899bc5;
  width:20%;
  max-width: 250px;
  
}

.nav-links {
  display: flex;
  margin: 1rem auto;
  padding: 1.5rem;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.link {
  margin: 1.5rem;
  /* border: 1px solid red; */
  color: #ffffff;
  font-family: "Product Sans", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  text-decoration: none;
}



.info-home {
  padding: 5%;
  width:80%;
  text-align: center;
}

.info-home h3 {
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  color: #63708f;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.info-home p {
  font-family: "Product Sans Light";
  font-style: normal;
  font-weight: 300;
  font-size: 1.3rem;
  color: #000000;
  margin-bottom: 1.5rem;
}

.info-home img {
  width: 90%;
  max-width:998px;
}

/* User page */

.container {
  padding: 10px;
  display: flex;
  flex-direction: row;
  background: #e5e5e5;
}

.container h3 {
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 31.19px;
  line-height: 44px;
  color: #899bc5;
  border: 1px solid red;
}

.card {
  background: #ffffff;
  box-shadow: 4px 4px 8px rgba(255, 255, 255, 0.25),
    4px 4px 16px rgba(137, 155, 197, 0.4);
  border-radius: 8px;
  width: 320px;
  height: 360px;
  text-align: center;
}

#username {
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  text-align: center;
  color: #516081;
}

#email {
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 35px;
  text-align: center;
  color: #301f77;
}

#add {
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  text-align: center;
  color: #516081;
}

#num {
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  text-align: center;
  color: #516081;
}

.card-img {
  margin: 1.2rem;
}

.card-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.loading{
  text-align: center;
  padding: 25%;
  margin: auto;
  font-size: 35px;
  font-weight: 600;
  font-family: "Product Sans";
}


/* Error Page */

.error-page {
  background: #899bc5;
  width: 100%;
  height: 782px;
}

.error-body {
  display: flex;
  padding: 10px;
  /* margin: 15%; */
}

.error-info {
  padding: 2%;
}

.error-info h1 {
  font-family: "Inter";
  font-weight: 500;
  font-size: 200px;
  line-height: 220px;
  color: #222222;
  text-align: center;
  margin-bottom: 5px;
}

.error-info h4 {
  font-family: "Inter";
  font-weight: 400;
  font-size: 35px;
  line-height: 34px;
  color: #222222;
  text-align: center;
}

.error-info p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.error-info button {
  font-family: "Inter";
  width: 200px;
  height: 52px;
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
  background: #222222;
  color: #ffffff;
  border-radius: 8px;
  text-align: center;
  margin-left: 300px;
  margin-top: 20px;
}

.error-image {
  padding-top: 9%;
}

.error-img {
  width: 500px;
  height: 500px;
}

/* About Page */
.about {
  display: flex;
}

.about-img {
  width: 500px;
  height: 500px;
  padding-left: 10%;
  padding-top: 30%;
}

.about-info h2 {
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 61.6071px;
  line-height: 44px;
  color: #899bc5;
}

.about-info {
  padding-left: 10%;
  padding-top: 7%;
  padding-right: 3%;
}

.about-info p {
  font-family: "Product Sans";
  font-style: normal;
  font-size: 20px;
  text-align: justify;
  color: #516081;
}

@media only screen and (max-width: 768px) {
  .nav-links {
    padding-left: 10%;
  }

  /* Error page */
  .error-body {
    display: flex;
    flex-direction: column;
  }
}
