*{
  margin: 15px;
  padding: auto;
}

body{
  background: #F7EDE2;

}

.nav{
  display: flex;
}

.link{
  color:  black;
  margin: 10px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.card{
  display: flex;
  background: #F5CAC3;
  width:  600px;
  height: 250px;
  border-radius: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.info{
  padding-top: 1.5rem;
  margin-top: 1rem;
  color: #4A4E69;
}

img{
  padding-left: 1rem;
  padding-top: 1rem;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}